.best__content {
  background: linear-gradient(132deg, #FFDF00 0%, #FFB800 100%), #FFFEFC;
  padding: 50px 75px;
}

.best__box {
  display: flex;
  gap: 40px;
}

.best__image {
  display: flex;
  flex-basis: 50%;
}

.best__text {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  gap: 10px;
}

.best__imagebest {
  width: 100%;
  height: 100%;
}

.best__label {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 50px;
}

.best__list {
  padding-bottom: 50px;
}