.footer__content {
  display: flex;
  padding: 50px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 125%;
}

.footer__left {
  display: flex;
  flex-direction: column;
  background:  #FFD00E;
  flex-basis: 30%;
  padding: 50px 75px;
  width: 525px;
}

.footer__right {
  display: flex;
  gap: 40px;
  flex-basis: 70%;
  color: #fff;
  background: linear-gradient(0deg, rgba(45, 44, 44, 0.90) 0%, rgba(45, 44, 44, 0.90) 100%), url(<path-to-image>), lightgray 508px -877.562px / 73.542% 522.899% no-repeat;
  padding: 50px 75px;
}

.footer__copy {
  padding: 55px 0 70px;
}

.footer__text {
  padding-top: 31px;
}

.footer__social-box {
  display: flex;
  gap: 45px;
}

.footer__item {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
}

.footer__label {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}